In [1]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.model_selection import cross_val_score, train_test_split
from keras.models import Model, Sequential
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.layers import Input, Dense, LSTM, Embedding, SpatialDropout1D, SimpleRNN
from keras.layers import Dropout, Activation, Bidirectional, GlobalMaxPool1D, RNN
from keras import initializers, regularizers, constraints, optimizers, layers
from keras.preprocessing import text, sequence
import pandas as pd
import numpy as np
np.random.seed(0)
from nltk import word_tokenize
from gensim.models import word2vec
from alpha_vantage.timeseries import TimeSeries
from pprint import pprint

Using TensorFlow backend.

In [7]:
ts = TimeSeries(key='X5AYBIDIH2EVGNW9', output_format='pandas')
data, meta_data = ts.get_daily(symbol='TSLA', outputsize='full')

data = data.drop(['2. high', '3. low', '5. volume'], axis=1)
data.columns = ['open', 'close']

In [8]:
def calculate_pct_change(open, close):
    pct_change = (close - open) / open
    pct_change = round(pct_change,4) * 100
    return pct_change

In [9]:
#S&P 500 data
sdata, smeta_data = ts.get_daily(symbol='SPY', outputsize='full')

sdata = sdata.drop(['2. high', '3. low', '5. volume'], axis=1)
sdata.columns = ['open', 'close']

In [5]:
data = calculate_pct_change(data.open, data.close) - calculate_pct_change(sdata.open, sdata.close)
data = pd.DataFrame({'Date': data.index, 'price_change': data.values})
data = data.set_index('Date')
# data["signal"] = data['price_change'].map(lambda x: "stay" if -1<x<1 else ("up" if x>1 else "down"))
# data = data.drop(['price_change'], axis = 1)

In [ ]:
data = data.loc[(data.index > '2012-11-16') & ('2017-09-29' >= data.index)]

In [ ]:
data['signal'].value_counts()

In [ ]:
data.info()

In [ ]:
data.tail()

---

In [10]:
df = calculate_pct_change(data.open, data.close) - calculate_pct_change(sdata.open, sdata.close)
df = pd.DataFrame({'Date': df.index, 'price_change': df.values})
df = df.set_index('Date')
# df["signal"] = data['price_change'].map(lambda x: "stay" if -1<x<1 else ("up" if x>1 else "down"))
# df = data.drop(['price_change'], axis = 1)

In [11]:
df = df.loc[(df.index > '2012-11-16') & ('2017-09-29' >= df.index)]

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1225 entries, 2012-11-19 to 2017-09-29
Data columns (total 1 columns):
price_change    1225 non-null float64
dtypes: float64(1)
memory usage: 19.1+ KB

In [13]:
idx = pd.date_range('2012-11-19', '2017-09-29')

In [14]:
df.index = pd.DatetimeIndex(df.index)
df = df.reindex(idx, fill_value=np.nan)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1776 entries, 2012-11-19 to 2017-09-29
Freq: D
Data columns (total 1 columns):
price_change    1225 non-null float64
dtypes: float64(1)
memory usage: 27.8 KB

In [16]:
# df = df.astype(float)

In [17]:
df['update_price_change'] = df['price_change'].interpolate(method='linear')

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1776 entries, 2012-11-19 to 2017-09-29
Freq: D
Data columns (total 2 columns):
price_change           1225 non-null float64
update_price_change    1776 non-null float64
dtypes: float64(2)
memory usage: 41.6 KB

In [19]:
df.head()

            price_change  update_price_change
2012-11-19          1.76                 1.76
2012-11-20          0.41                 0.41
2012-11-21         -0.53                -0.53
2012-11-22           NaN                -1.42
2012-11-23         -2.31                -2.31

In [20]:
df = df.drop(columns=['price_change'])

In [21]:
df.columns = ['price_change']

In [22]:
df.head()

            price_change
2012-11-19          1.76
2012-11-20          0.41
2012-11-21         -0.53
2012-11-22         -1.42
2012-11-23         -2.31

In [28]:
df["signal"] = df['price_change'].map(lambda x: "up" if x>=0 else "down")
df = df.drop(['price_change'], axis = 1)

In [29]:
df.tail()

           signal
2017-09-25   down
2017-09-26   down
2017-09-27   down
2017-09-28   down
2017-09-29   down

In [32]:
df.signal.value_counts()

up      892
down    884
Name: signal, dtype: int64

In [34]:
# df.to_csv(r'/Users/sproul/Desktop/ds-projects/project_mod4_AAR/binary_target.csv')

In [75]:
text = pd.read_csv('combined_text_data.csv')

In [76]:
stock = pd.read_csv('binary_target.csv')

In [77]:
stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1776 entries, 0 to 1775
Data columns (total 2 columns):
Unnamed: 0    1776 non-null object
signal        1776 non-null object
dtypes: object(2)
memory usage: 27.8+ KB

In [78]:
text.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3205 entries, 0 to 3204
Columns: 3859 entries, Time to zoo
dtypes: float64(3853), int64(2), object(4)
memory usage: 94.4+ MB

In [86]:
text.head()

,Time,retweet_from,tweet_length,encoded_sentiment,sentiment,polarity,tweet,ability,able,aboard,...,you,your,yours,yourself,yr,yup,zero,zip,zone,zoo
0,2017-09-29,NaN,105,1,positive,0.366667,"Assuming max acceleration of 2 to 3 g's, but i...",0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2017-09-29,SpaceX,113,1,positive,0.200000,BFR is capable of transporting satellites to o...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2017-09-29,NaN,6,0,neutral,0.000000,Yup :),0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,2017-09-29,NaN,7,0,neutral,0.000000,Part 2,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2017-09-29,NaN,96,1,positive,0.650000,Fly to most places on Earth in under 30 mins a...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [84]:
# stock.rename(columns={'Unnamed: 0':'Date'}, inplace=True)

# stock.set_index('Date', inplace=True)

# stock.index = pd.DatetimeIndex(stock.index)

stock = stock.reindex(idx, fill_value='NaN')

# stock.index.name = 'Date'

In [87]:
text.rename(columns={'Time':'Date'}, inplace=True)

In [94]:
text.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3205 entries, 2017-09-29 to 2012-11-16
Columns: 3858 entries, retweet_from to zoo
dtypes: float64(3853), int64(2), object(3)
memory usage: 94.4+ MB

In [89]:
stock.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1776 entries, 2012-11-19 to 2017-09-29
Freq: D
Data columns (total 1 columns):
signal    1776 non-null object
dtypes: object(1)
memory usage: 27.8+ KB

In [92]:
text = text.set_index('Date')

In [95]:
text.index = pd.DatetimeIndex(text.index)

In [96]:
take_2 = pd.merge(text, stock, on='Date', how='left')

# take_2.shape

# take_2.head(10)

take_2.signal_y.value_counts()

up      1678
down    1526
Name: signal_y, dtype: int64

In [99]:
take_2.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3205 entries, 2017-09-29 to 2012-11-16
Columns: 3859 entries, retweet_from to signal_y
dtypes: float64(3853), int64(2), object(4)
memory usage: 94.4+ MB

In [100]:
from sklearn.preprocessing import LabelEncoder
from sklearn.decomposition import PCA

In [115]:
le = LabelEncoder()

In [111]:
take_2.iloc[:, :6].info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3205 entries, 2017-09-29 to 2012-11-16
Data columns (total 6 columns):
retweet_from         523 non-null object
tweet_length         3205 non-null int64
encoded_sentiment    3205 non-null int64
sentiment            3205 non-null object
polarity             3205 non-null float64
tweet                3205 non-null object
dtypes: float64(1), int64(2), object(3)
memory usage: 175.3+ KB

In [118]:
df_with_tfidf_pca.head()

,retweet_from,tweet_length,encoded_sentiment,sentiment,polarity,tweet,pc_1,pc_2,pc_3,pc_4,...,pc_29,pc_30,pc_31,pc_32,pc_33,pc_34,pc_35,pc_36,pc_37,pc_38
Date,,,,,,,,,,,,,,,,,,,,,
2017-09-29,171,105,1,positive,0.366667,"Assuming max acceleration of 2 to 3 g's, but i...",-0.031750,-0.028862,-0.030268,-0.018790,...,-0.022715,-0.034915,-0.030453,0.009013,-0.004715,-0.074266,-0.084025,0.019334,-0.004746,0.025779
2017-09-29,77,113,1,positive,0.200000,BFR is capable of transporting satellites to o...,-0.059331,-0.099826,-0.154760,-0.040333,...,-0.030242,-0.015897,0.009704,-0.011633,-0.016697,-0.033227,0.000195,0.011908,-0.017864,-0.001426
2017-09-29,171,6,0,neutral,0.000000,Yup :),-0.002330,0.033960,0.069607,-0.014126,...,0.106281,0.012970,-0.008978,-0.013865,0.046525,-0.007867,0.041954,-0.034317,-0.085269,-0.029201
2017-09-29,171,7,0,neutral,0.000000,Part 2,-0.005050,0.024122,0.043361,-0.001799,...,0.022552,-0.000544,-0.003106,-0.009162,-0.007540,0.008748,0.016646,-0.003052,-0.056231,-0.018816
2017-09-29,171,96,1,positive,0.650000,Fly to most places on Earth in under 30 mins a...,-0.031167,-0.027728,-0.012339,-0.039902,...,-0.089746,-0.000036,-0.000197,-0.007578,0.083160,-0.010546,-0.022204,-0.059491,0.048438,0.023978

In [123]:
from nltk.corpus import stopwords
import nltk
from nltk import word_tokenize, FreqDist
from nltk.stem import WordNetLemmatizer
from sklearn.decomposition import PCA
from matplotlib import pyplot as plt
from gensim.models import Word2Vec
import pandas as pd

In [124]:
# pca = PCA(n_components=38)

# tfidf_df = take_2.iloc[:, 6:-1]

# tfidf_df.head()

# pca.fit(tfidf_df)

# x_pca = pca.transform(tfidf_df)
# x_pca

# x_pca.shape

# pca_df = pd.DataFrame(x_pca)

# pca_df.head()

# labels = []

# for i in range(1, 39):
#     labels.append('pc_' + str(i))

# # labels

# pca_df.columns = labels




# df_with_tfidf_pca = pd.concat([take_2.iloc[:, :6], pca_df], axis=1)

# df_with_tfidf_pca['retweet_from'] = df_with_tfidf_pca['retweet_from'].fillna('not')

# df_with_tfidf_pca['retweet_from'] = le.fit_transform(df_with_tfidf_pca['retweet_from'])






# df_with_tfidf_pca.drop(columns = ['sentiment'], inplace= True)

# df_with_tfidf_pca.info()


# le = LabelEncoder()

# take_23['retweet_from'] = le.fit_transform(take_23['retweet_from'])

# take_23.drop(columns = ['sentiment'], inplace= True)

# #Same but with no date
# take_23.drop(columns = ['Date'], inplace= True)

# #### fixing the tweet column to match cleaned tweets

tweets = df_with_tfidf_pca['tweet'].tolist()

wordnet_lemmatizer = WordNetLemmatizer()
english = set(nltk.corpus.words.words()+ ['yup'])

def lemmadata(doc):
        pattern = "([a-zA-Z]+(?:'[a-z]+)?)"
        raw_tokens = nltk.regexp_tokenize(doc, pattern)
        tokens = [i.lower() for i in raw_tokens]
        lemmatized = [wordnet_lemmatizer.lemmatize(word) for word in tokens]
        words = list(filter(lambda w: w in english, lemmatized))
        return words

lemma = [lemmadata(post) for post in tweets]

process_lems = list(map(lemmadata, df_with_tfidf_pca['tweet']))

# process_lems[:3]

clean_tweets_lem = []

for i in range(0, len(process_lems)):
    clean = ' '.join(process_lems[i])
    clean_tweets_lem.append(clean)

# df['B'] = df1['E'].values

clean_tweet_df = pd.DataFrame(clean_tweets_lem)

# clean_tweet_df.head()

clean_tweet_df[0][0]

df_with_tfidf_pca['tweet'] = clean_tweet_df[0].values

# we added signal to the dataframe
df_with_tfidf_pca = pd.concat([df_with_tfidf_pca, take_2.iloc[:,-1]], axis=1)

df_with_tfidf_pca.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3205 entries, 2017-09-29 to 2012-11-16
Data columns (total 44 columns):
retweet_from         3205 non-null int64
tweet_length         3205 non-null int64
encoded_sentiment    3205 non-null int64
polarity             3205 non-null float64
tweet                3205 non-null object
pc_1                 3205 non-null float64
pc_2                 3205 non-null float64
pc_3                 3205 non-null float64
pc_4                 3205 non-null float64
pc_5                 3205 non-null float64
pc_6                 3205 non-null float64
pc_7                 3205 non-null float64
pc_8                 3205 non-null float64
pc_9                 3205 non-null float64
pc_10                3205 non-null float64
pc_11                3205 non-null float64
pc_12                3205 non-null float64
pc_13                3205 non-null float64
pc_14                3205 non-null float64
pc_15                3205 non-null float64
pc_16                3205 non-null float64
pc_17                3205 non-null float64
pc_18                3205 non-null float64
pc_19                3205 non-null float64
pc_20                3205 non-null float64
pc_21                3205 non-null float64
pc_22                3205 non-null float64
pc_23                3205 non-null float64
pc_24                3205 non-null float64
pc_25                3205 non-null float64
pc_26                3205 non-null float64
pc_27                3205 non-null float64
pc_28                3205 non-null float64
pc_29                3205 non-null float64
pc_30                3205 non-null float64
pc_31                3205 non-null float64
pc_32                3205 non-null float64
pc_33                3205 non-null float64
pc_34                3205 non-null float64
pc_35                3205 non-null float64
pc_36                3205 non-null float64
pc_37                3205 non-null float64
pc_38                3205 non-null float64
signal_y             3204 non-null object
dtypes: float64(39), int64(3), object(2)
memory usage: 1.1+ MB

In [125]:
df_with_tfidf_pca.head()

,retweet_from,tweet_length,encoded_sentiment,polarity,tweet,pc_1,pc_2,pc_3,pc_4,pc_5,...,pc_30,pc_31,pc_32,pc_33,pc_34,pc_35,pc_36,pc_37,pc_38,signal_y
Date,,,,,,,,,,,,,,,,,,,,,
2017-09-29,171,105,1,0.366667,assuming acceleration of to but in a comfortab...,-0.031750,-0.028862,-0.030268,-0.018790,-0.060722,...,-0.034915,-0.030453,0.009013,-0.004715,-0.074266,-0.084025,0.019334,-0.004746,0.025779,down
2017-09-29,77,113,1,0.200000,is capable of transporting satellite to orbit ...,-0.059331,-0.099826,-0.154760,-0.040333,0.072308,...,-0.015897,0.009704,-0.011633,-0.016697,-0.033227,0.000195,0.011908,-0.017864,-0.001426,down
2017-09-29,171,6,0,0.000000,yup,-0.002330,0.033960,0.069607,-0.014126,-0.037830,...,0.012970,-0.008978,-0.013865,0.046525,-0.007867,0.041954,-0.034317,-0.085269,-0.029201,down
2017-09-29,171,7,0,0.000000,part,-0.005050,0.024122,0.043361,-0.001799,-0.016304,...,-0.000544,-0.003106,-0.009162,-0.007540,0.008748,0.016646,-0.003052,-0.056231,-0.018816,down
2017-09-29,171,96,1,0.650000,fly to most place on earth in under min and an...,-0.031167,-0.027728,-0.012339,-0.039902,-0.070430,...,-0.000036,-0.000197,-0.007578,0.083160,-0.010546,-0.022204,-0.059491,0.048438,0.023978,down

In [126]:
# df_with_tfidf_pca.to_csv(r'/Users/sproul/Desktop/ds-projects/project_mod4_AAR/updated_target_merged_data.csv')

In [127]:
df_with_tfidf_pca.signal_y.value_counts()

up      1678
down    1526
Name: signal_y, dtype: int64

In [ ]:
# stock.rename(columns={'Unnamed: 0':'Date'}, inplace=True)

# stock.shape

# stock.head()

# text.shape

# text.columns

# text.head()

# stock.set_index('Date', inplace=True)

# idx = pd.date_range('2012-11-19', '2017-09-29')

# s = pd.Series({'09-02-2013': 2,
#                '09-03-2013': 10,
#                '09-06-2013': 5,
#                '09-07-2013': 1})

# s.index = pd.DatetimeIndex(s.index)
# s = s.reindex(idx, fill_value='NaN')
# print(s)

# stock.index = pd.DatetimeIndex(stock.index)

# stock = stock.reindex(idx, fill_value='NaN')

# stock.index.name = 'Date'


# text.rename(columns={'Time':'Date'}, inplace=True)

# text.set_index('Date')

# stock.head()

# take_2 = pd.merge(text, stock, on='Date', how='left')

# take_2.shape

# take_2.head(10)

# take_2.signal_y.value_counts()